.container{
  gap: 50px;
  width: 700px;
  margin: 50px auto;
  border: 1px solid #070707;
  padding: 50px 50px 8px 50px;
  border-radius: 25px;
}
header{
  display: flex;
  gap: 18px;
  left: 50px;
}

img{
  width: 60px;
  height: 60px;
  border-radius: 6.6px;
  margin-bottom: 13px;
}

form {
  display: flex;
  gap: 12px;
}


.formWrapper{
  display: flex;
  gap: 10px;
}

.stats {
  left: 320px;
  top: 85px;
  margin-top: 25px;
}

ul {
  left: 300px;
  top: 110px;
}

li{
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: rgb(91, 223, 91);
}